{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <h2 class="mt-2">Login</h2>

    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div class="col-md-6">
            {{ form.email.label(class="form-label") }}<br>
            {{ form.email(class="form-control form-control-sm", size=32) }}
            <!--{{ form.email(size=64) }} -->
        </div>
        <div class="col-md-6">
            {{ form.password.label(class="form-label") }}<br>
            {{ form.password(class="form-control form-control-sm", size=32) }}
            <!-- {{ form.password(size=64) }} -->
        </div>
        <div class="col-md-6">
            {{ form.remember.label(class="form-label") }}<br>
            {{ form.remember }}
        </div>
        <br>
        <div>
            <!--{{ form.submit() }}-->
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </div>
        
    </form>

{% endblock %}
