{% extends "base.html" %}

{% block title %}
    Login
{% endblock %}

{% block content %}

    <h1 class="mt-4">Login</h1>

    <form method="POST" action="{{ url_for('login') }}">
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.email.label(class="form-label") }}<br>
            <!--{{ form.email(class="form-control", size=64) }}-->
            {{ form.email(size=64) }}
        </div>
        <div class="form-group">
            {{ form.password.label(class="form-label") }}<br>
            <!--{{ form.password(class="form-control", size=64) }}-->
            {{ form.password(size=64) }}
        </div>
        <div class="form-group">
            {{ form.remember.label(class="form-label") }}<br>
            {{ form.remember }}
        </div>
        <br>
        <div>
            <!--{{ form.submit() }}-->
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </div>
        
    </form>
{% endblock %}
