{% extends "base.html" %}

{% block title %}
    Registration
{% endblock %}

{% block content %}

    <h2 class="mt-2">Registration</h2>

    <form method="POST" action="{{ url_for('register') }}">
        {{ form.hidden_tag() }}
        <div class="col-md-6">
            {{ form.username.label(class="form-label") }}<br>
            {{ form.username(class="form-control form-control-sm", size=32) }}
        </div>
        <div class="col-md-6">
            {{ form.email.label(class="form-label") }}<br>
            {{ form.email(class="form-control form-control-sm", size=32) }}
        </div>
        <div class="col-md-6">
            {{ form.password.label(class="form-label") }}<br>
            {{ form.password(class="form-control form-control-sm", size=32) }}
        </div>
        <div class="col-md-6">
            {{ form.confirm_password.label(class="form-label") }}<br>
            {{ form.confirm_password(class="form-control form-control-sm", size=32) }}
        </div>
        <br>
        <div>
            <!-- {{ form.submit() }} -->
            <button type="submit" class="btn btn-primary">{{ form.submit.label }}</button>
        </div>
    </form>
{% endblock %}
